{% extends "layout.html" %}
{% block content %}
<div>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="login">
            <legend>Rejestracja</legend>
            <div class="form">
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}  

                        {{ form.username(class="form-control-label is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg", minlength="3", maxlength="15", placeholder="Username") }}
                    {% endif %}                    
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}  

                        {{ form.email(class="form-control-label is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(type="email", class="form-control form-control-lg", placeholder="E-mail") }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}  

                        {{ form.password(class="form-control-label is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", minlength="4", maxlength="30", placeholder="Hasło") }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}  

                        {{ form.confirm_password(class="form-control-label is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg", minlength="3", maxlength="15", placeholder="Potwierdź hasło") }}
                    {% endif %} 
                </div>
            </div>
            <input type="submit" value="Zarejestruj się!">
        </fieldset>
    </form>
    <center>
        <a info="info" href="{{ url_for('login') }}">Posiadasz już konto? Zaloguj się!</a>
    </center>
</div>
{% endblock content %}
